@font-face{
    font-family:  'Arcade Gamer';
    src: url(../fontes/Arcade\ Gamer.otf)
}
@font-face{
    font-family:  'VAL';
    src: url(../fontes/VAL.otf)
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'VAL', sans-serif;
}

#ImagemCadLog {
    position: relative;
    left: 130px;
    
}

h1 {
    color: #D51D7F;
    font-size: 60px;
}

main.Container {
    background: rgb(25, 22, 22);
    min-width: 20vh;
    min-height: 50vh;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: 5px 5px 15px #d41172;
    border-radius: 8px;
    border: solid;
    border-color: #D51D7F;
}

main.ContainerLogin {
    background: rgb(25, 22, 22);
    min-width: 56vh;
    min-height: 50vh;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: 5px 5px 15px #d41172;
    border-radius: 8px;
    border: solid;
    border-color: #D51D7F;
}

main h1 {
    font-weight: 600;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 80px;
    bottom: 3px;
    left: 76px;
    border-radius: 8px;
    background: linear-gradient(48deg, #B678E6, #D51D7F);
}

main #Cadastro::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 80px;
    bottom: 3px;
    left: 10px;
    border-radius: 8px;
    background: linear-gradient(48deg, #B678E6, #D51D7F);
}

form {
    display: flex;
    flex-direction: column;
}

#Email {
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 0.5rem;
}

#Email::placeholder {
    color: white;
}

#Senha {
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 0.5rem;
}

#Senha::placeholder {
    color: white;
}

.EstiloInputs {
    position: relative;
    font-family: sans-serif;
}

form .EstiloInputs:first-child {
    margin-bottom: 0.5rem;
}

.EstiloInputs .Sublinhado::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.EstiloInputs input:focus ~ .Sublinhado::after {
    transform: scaleX(1);
}

.EstiloInputs input {
    outline: none;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.EstiloInputs input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


h6 {
    color: white;
    position: relative;
    top: 0.5rem;
    display: flex;
    justify-content: end;
}


form input[type="submit"] {
    margin-top: 4rem;
    padding: 0.4rem;
    width: 100%;
    height: 6vh;
    background: linear-gradient(to left, #D51D7F, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: "Val";
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #D51D7F, #8e54e9);
}
