html {
    scroll-behavior: smooth;
  }

@font-face{
    font-family:  'Arcade Gamer';
    src: url(../fontes/Arcade\ Gamer.otf)
}
@font-face{
    font-family:  'VAL';
    src: url(../fontes/VAL.otf)
}

:root{
    --RoxoEscuro: #8A1DBD;
    --RoxoClaro: #B678E6;
    --Rosa: #CF62D8;
    --SombraTitulos: #C495E4;
    --Cinza: #CFCFCF;
    --RosaMural: #CD1E81
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 10vh !important;
}

.ag{
    font-family: "Arcade Gamer";
    color: #fff;
}

.val{
    font-family: "VAL";
}

.st{ /*sombra-titulo*/
    text-shadow: 1px 1px 3px var(--SombraTitulos);
    color: #fff;
}

.TituloSessao{
    font-size: 3em;
    margin: 0;
    border-radius: 1em;
}

.SubtituloSessao{
    font-size: 2em;
}

.ItemLista{
    font-size: 1.5em;
    text-decoration: none;
    list-style: none;
}

.TituloRoxo{
    background: var(--RoxoEscuro);
    padding: 10px 40px;
}

body{
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 
    "cv11", "salt", "ss01", "ss03",
    "cv01", "cv02", "cv03", "cv04",
    "cv05", "cv06", "cv09", "cv10";
}
button:hover{
    transition: 2s;
    cursor: pointer;
    filter: brightness(1.5)
}